{{ define "base" }}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ template "title" . }} - Zephyr</title>
		<link rel="stylesheet" href="assets/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="assets/scripts.js"></script>
	</head>
	<body>
		<header>
			<h1>
			Zephyr</h1>
			<nav aria-label="Main">
				<ul>
					<li><a href=".">Pipelines</a></li>
				</ul>
			</nav>
		</header>
		<nav aria-label="Breadcrumb" class="breadcrumb">
			{{ template "breadcrumb" . }}
		</nav>
		<main>
			{{ template "main" . }}
		</main>
	</body>
</html>
{{ end }}
