{{ template "base" . }}

{{ define "title" }} Pipelines {{ end }}

{{ define "breadcrumb" }}
<ol>
	<li><a aria-current="page" href=".">Pipelines</a></li>
</ol>
{{ end }}

{{ define "main" }}

<h2>Pipelines</h2>

<table>
	<thead>
		<th>Name</th>
		<th>Next Run</th>
		<th>Last Run</th>
		<th>History</th>
		<th>Actions</th>
	</thead>
	<tbody>
{{ range .Pipelines }}
		<tr>
			<td>{{ .Name }}</td>
			<td>{{ .NextRun }}</td>
			<td>{{ .LastRun }}</td>
			<td>
	{{ range .History }}
				<a href="pipeline_instance?id={{.Id}}" class="{{.Status}}">#</a>
	{{ end }}
			</td>
			<td>
				<form method="post" action="run">
					<input type="hidden" name="name" value="{{ .Name }}" />
					<input type="submit" value="Run" />
				</form>
			</td>
		</tr>
{{ end }}
	</tbody>
</table>
{{ end }}
