{{ template "base" . }}

{{ define "title" }} Pipelines {{ end }}

{{ define "breadcrumb" }}
<ol class="breadcrumb">
	<li class="breadcrumb-item active" aria-current="page">Pipelines</li>
</ol>
{{ end }}

{{ define "main" }}

<h1>Pipelines</h1>

<div class="table-responsive">
	<table class="table">
		<thead>
			<th>Name</th>
			<th>Last Completed</th>
			<th>Last Failed</th>
			<th>Next Run</th>
			<th>Actions</th>
		</thead>
		<tbody>
	{{ range .Pipelines }}
			<tr class="align-middle">
				<td>
					{{ .Name }}
					<span class="badge bg-secondary">
						{{ .LastStatus }}
					</span>
				</td>
				<td>
					{{ if .LastCompleted }}
					<a href="pipeline_instance?id={{.LastCompleted.Id}}"><time>{{ .LastCompletedAt }}</time></a>
					{{ else }}
						N/A
					{{ end }}
				</td>
				<td>
					{{ if .LastFailed }}
					<a href="pipeline_instance?id={{.LastFailed.Id}}"><time>{{ .LastFailedAt }}</time></a>
					{{ else }}
						N/A
					{{ end }}
				</td>
				<td><time>{{ .NextRunAt }}</time></td>
				<td>
					<form method="post" action="run">
						<input type="hidden" name="name" value="{{ .Name }}" />
						<input class="btn btn-sm btn-outline-primary" type="submit" value="Run" />
					</form>
				</td>
			</tr>
	{{ end }}
		</tbody>
	</table>
</div>
{{ end }}
