{{ template "base" . }}

{{ define "title" }} {{.Job.Name }} {{ end }}

{{ define "breadcrumb" }}
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href=".">Pipelines</a></li>
	<li class="breadcrumb-item"><a href="pipeline_instance?id={{ .Pipe.Id }}">{{ .Pipe.Name }}</a></li>
	<li class="breadcrumb-item" aria-current="page">{{ .Job.Name }}</li>
</ol>
{{ end }}

{{ define "main" }}

<h1>
	{{.Job.Name}}
	<small class="text-muted">
		<time>
		{{ .Date }}
		</time>
	</small>
	<span class="badge bg-{{ bsColor .Job.Status }} float-end">
		{{ .Job.Status }}
	</span>
</h1>

<div class="card">
	<div class="card-header">{{.Job.Command}}</div>
	<div class="card-body">
		{{ with .Log }}
		{{/* Beware of extra whitespace in <pre> tag below*/}}
		<pre>
{{ range .}}{{ . | html }}
{{ end }}{{ else }}<i>No output</i>{{ end }}</pre>
	</div>
</div>

{{ end }}
