{{ template "base" . }}

{{ define "title" }} {{ .Def.Name }} {{ end }}

{{ define "breadcrumb" }} 
<ol>
	<li><a href=".">Pipelines</a></li>
	<li><a aria-current="page" href="pipeline_instance?id={{ .Instance.Id }}">{{ .Def.Name }}</a></li>
</ol>
{{ end }}

{{ define "main" }}

<h2>{{.Def.Name}}</h2>

Status: {{ .Instance.Status }}

<table>
	<thead>
		<th>Name</th>
		<th>Status</th>
		<th>Actions</th>
	</thead>
	<tbody>
{{ range .Jobs }}
		<tr>
			<td>{{ .Name }}</td>
			<td>{{ .Status }}</td>
			<td><a href="job_instance?name={{ .Name }}&pipeline_id={{ $.Instance.Id }}">Inspect</a></td>
		</tr>
{{ end }}
	</tbody>
</table>

{{ end }}
