{{ template "base" . }}

{{ define "title" }} {{ .Def.Name }} {{ end }}

{{ define "breadcrumb" }} 
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href=".">Pipelines</a></li>
	<li class="breadcrumb-item active" aria-current="page">{{ .Def.Name }}</li>
</ol>
{{ end }}

{{ define "main" }}

<h2>{{.Def.Name}}</h2>

Status: {{ .Instance.Status }}

<table class="table">
	<thead>
		<th scope="col">Name</th>
		<th scope="col">Status</th>
		<th scope="col">Actions</th>
	</thead>
	<tbody>
{{ range .Jobs }}
		<tr class="align-middle">
			<td>{{ .Name }}</td>
			<td>{{ .Status }}</td>
			<td><a class="btn btn-sm btn-outline-secondary" href="job_instance?name={{ .Name }}&pipeline_id={{ $.Instance.Id }}">Inspect</a></td>
		</tr>
{{ end }}
	</tbody>
</table>

{{ end }}
