{{ template "base" . }}

{{ define "title" }} {{ .Def.Name }} {{ end }}

{{ define "breadcrumb" }} 
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href=".">Pipelines</a></li>
	<li class="breadcrumb-item active" aria-current="page">{{ .Def.Name }}</li>
</ol>
{{ end }}

{{ define "main" }}

<h1>
	{{.Def.Name}} 
	<small class="text-muted">
		<time>
			{{ .Date }}
		</time>
	</small>
	<span class="badge bg-{{ bsColor .Instance.Status }} float-end">{{ .Instance.Status }}</span>
</h2>

<div class="table-responsive">
	<table class="table">
		<thead>
			<th scope="col">Name</th>
			<th scope="col">Status</th>
			<th scope="col">Actions</th>
		</thead>
		<tbody>
	{{ range .Jobs }}
			<tr class="align-middle">
				<td>{{ .Name }}</td>
				<td><span class="badge bg-{{ bsColor .Status }}">{{ .Status }}</span></td>
				<td><a class="btn btn-sm btn-outline-secondary" href="{{ jobInstancePath .Name $.Instance.Id }}">Inspect</a></td>
			</tr>
	{{ end }}
		</tbody>
	</table>
</div>

{{ end }}
